<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.livx.restservice.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">§

        <activity android:theme="@style/Theme.AppCompat" android:name="tech.livx.restservice.sample.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:theme="@style/Theme.AppCompat" android:name=".SideActivity"/>
    </application>

</manifest>